html {
  background-color: #9bc1bc;
}

img {
  width: 75vw;
  height: auto;
  margin-left: 11vw;
}

h1 {
  color: #ed6a5a;
  font-size: 30px;
  text-align: center;
}

ul {
  list-style-type: none;
  text-align: center;
  color: #ed6a5a;
}

li {
  border: 1px solid #c9f2c7;
  width: 75%;
  height: auto;
  margin-left: 3.5vw;
  text-align: center;
}

.title {
  color: #ed6a5a;
  font-size: 20px;
  text-align: center;
}

h2 {
  color: #ed6a5a;
  font-size: 15px;
  text-align: center;
  display: inline;
}

h3 {
  color: #c9f2c7;
  font-size: 15px;
  text-align: center;
  display: inline;
}

.section1 {
  background-color: #5d737e;
  border: 1vw solid #e6ebe0;
  width: 73vw;
  height: 45vw;
  margin-left: 11vw;
  margin-top: 2vw;
  overflow: scroll;
}

.section2 {
  background-color: #5d737e;
  border: 1vw solid #e6ebe0;
  width: 73vw;
  height: 45vw;
  overflow: scroll;
  margin-left: 11vw;
  margin-top: 2vw;
  padding-top: 2vw;
}

.section3 {
  background-color: #5d737e;
  border: 1vw solid #e6ebe0;
  width: 73vw;
  height: 45vw;
  margin-left: 11vw;
  margin-top: 2vw;
  overflow: scroll;
}

form {
  text-align: center;
  color: #ed6a5a;
  font-size: 20px;
}

input {
  background-color: #c9f2c7;
  color: #5d737e;
  font-size: 20px;
}

input:hover {
  background-color: #ed6a5a;
  color: #e6ebe0;
  cursor: pointer;
}

.submit {
  background-color: #ed6a5a;
  color: #e6ebe0;
  margin-top: 2vw;
  width: 20vw;
  height: 5vw;
  font-size: 25px;
}

.submit:hover {
  background-color: #c9f2c7;
  color: #5d737e;
}

button {
  background-color: #ed6a5a;
  color: #e6ebe0;
  margin: 1vw;
  width: 12vw;
  height: 3vw;
  font-size: 15px;
}

button:hover {
  background-color: #c9f2c7;
  color: #5d737e;
}
