html {
  background-color: #9bc1bc;
}

.grid-container {
  display: grid;
  grid-gap: 1vw;
}

.grid-item1 {
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 4;
  margin-top: 3vw;
  padding-top: 7vw;
  background-color: #5d737e;
  border: 1vw solid #e6ebe0;
  margin-left: 11vw;
}

.grid-item2 {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  margin-top: 3vw;
  background-color: #5d737e;
  border: 1vw solid #e6ebe0;
  margin-right: 13vw;
}

img {
  width: 75vw;
  height: auto;
  margin-left: 11vw;
}

h1 {
  font-family: Unica One, cursive;
  color: #9bc1bc;
  font-size: 45px;
  text-align: center;
}

ul {
  list-style-type: none;
  text-align: center;
  color: #ed6a5a;
}

li {
  border: 1px solid #c9f2c7;
  width: 75%;
  height: auto;
  margin-left: 8vw;
  text-align: center;
}

.title {
  font-family: Unica One, cursive;
  color: #ed6a5a;
  font-size: 30px;
  text-align: center;
  margin-bottom: .5vw;
}

h2 {
  color: #ed6a5a;
  font-size: 18px;
  text-align: center;
  display: inline;
}

h3 {
  color: #c9f2c7;
  font-size: 15px;
  text-align: center;
  display: inline;
}

.section1 {
  background-color: #5d737e;
  border: 1vw solid #e6ebe0;
  width: 73vw;
  height: 40vw;
  margin-left: 11vw;
  margin-top: 2vw;
  overflow: scroll;
}

/* .section2 {
  background-color: #5d737e;
  border: 1vw solid #e6ebe0; */
  /* width: 73vw;
  height: 28vw; */
  /* overflow: scroll; */
  /* margin-left: 11vw;
  margin-top: 2vw; */
  /* padding-top: 2vw;
}

.section3 {
  background-color: #5d737e;
  border: 1vw solid #e6ebe0; */
  /* width: 73vw;
  height: 40vw; */
  /* margin-left: 11vw;
  margin-top: 2vw; */
  /* overflow: scroll;
} */

form {
  text-align: center;
  color: #ed6a5a;
  font-size: 20px;
}

input {
  background-color: #c9f2c7;
  color: #5d737e;
  font-size: 20px;
}

input:hover {
  background-color: #ed6a5a;
  color: #e6ebe0;
  cursor: pointer;
}

.submit {
  background-color: #ed6a5a;
  color: #e6ebe0;
  font-family: Unica One, cursive;
  margin-top: 2vw;
  width: 20vw;
  height: 5vw;
  font-size: 25px;
}

.submit:hover {
  background-color: #c9f2c7;
  color: #5d737e;
}

button {
  background-color: #ed6a5a;
  color: #e6ebe0;
  margin: 1vw;
  width: 12vw;
  height: 3vw;
  font-size: 15px;
  font-family: Unica One, cursive;
}

button:hover {
  background-color: #c9f2c7;
  color: #5d737e;
}

h4 {
  color: #ed6a5a;
  font-size: 20px;
  text-align: center;
}

h5 {
  color: #c9f2c7;
  font-size: 20px;
  text-align: center;
}

.daily {
  border: 1px solid #c9f2c7;
  padding: -1vw;
  width: 60%;
  height: auto;
  margin-left: 7vw;
  margin-bottom: 2vw;
  text-align: center;
}

.secondarySubmit {
  background-color: #ed6a5a;
  color: #e6ebe0;
  width: 10vw;
  height: 2vw;
  font-size: 12px;
  margin-bottom: 1vw;
}

.secondarySubmit:hover {
  background-color: #c9f2c7;
  color: #5d737e;
}
